# Editors
.vscode/
.idea/

# Source for the following rules: https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Credentials & Config
mta_api_key.txt
darksky_api_key.txt
location.txt
config.py

# Extra Dirs
play
